.header {
    width: 100%;
    height: 60px;
    background-color: #000000;
}

 li  {
    color: #ffffff;
    list-style-type: none;
    display: inline;
    padding-right: 20px;

}

#menu {
    margin: 0 auto;
    padding-top: 15px;
}



h1 {
    font-size: 64px;
}
