.header {
    width: 100%;
    height: 60px;
    background-color: #000000;
}

 ul #menu {
    color: #ffffff;
    list-style-type: none;
}

li #menu {
    display: inline;
}


h1 {
    font-size: 64px;
}
